#Ignore environment variables
.env

#Ignore unused folders
unused/

#Ignore all presentations in gitignore folder/ 
datasets/processed/markdown/*
datasets/processed/tables/*
!datasets/co_presentations/.gitignore
datasets/raw
